
# InfluxDB Configuration
 INFLUX_CONTAINER_NAME=Influxdb
# INFLUX_ORG=Your_Org
# INFLUX_HOST="http://<ip-server>:8086"
#
# ####  admin's token first token ####
# INFLUX_TOKEN=Your_token
#
# # Backup Settings
# HOST_BACKUP_DIR=../backup
# # Keep Backup date
# RETENTION_FILES=180
#
# # rclone config name
# #REMOTE_NAME="rclone_backup"
# #REMOTE_PATH="rclone_backup:/path/to/influx_backups"



#### InfluxDB-server ###
INFLUX_TOKEN=
INFLUX_ORG=
INFLUX_BUCKET=

#### Mqtt-Server ###
MQTT_SERVER=
MQTT_USER=
MQTT_PASSWORD=

##### Topic ####
MQTT_TOPICS_1=
#MQTT_TOPICS_2=
#MQTT_TOPICS_3=
