# InfluxDB Configuration
INFLUX_CONTAINER_NAME=Influxdb
INFLUX_ORG=Your_Org
INFLUX_HOST="http://<ip-server>:8086"

####  admin's token first token ####
INFLUX_TOKEN=Your_token
INFLUX_ORG=Your_Org
INFLUX_BUCKET=Your_Bucket

#### Grafana ####
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=Your_passwd

#### Mqtt-Server ###
MQTT_SERVER=tcp://<ip-domainneme>:1883
MQTT_USER=mqtt_user
MQTT_PASSWORD=mqtt_passwd

###### Topic ####
MQTT_TOPICS_1=Topic
##MQTT_TOPICS_2=
##MQTT_TOPICS_3=


# Backup Settings
HOST_BACKUP_DIR=../backup

# Keep Backup date
RETENTION_FILES=180

# rclone config name
#REMOTE_NAME="rclone_backup"
#REMOTE_PATH="rclone_backup:/path/to/influx_backups"
